.header {
    color: white;
    background-color: #000137;
    text-align: center;
    padding: 5vh;
}

.main {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.PersonalForm {
    border-width: 1vh;
    border-color: #000137;
    border-style: solid;
}
.personalHeader {
    text-align: center;
}

.EducationForm {
    border-width: 1vh;
    border-color: #000137;
    border-style: solid;
}

.WorkForm{
    border-width: 1vh;
    border-color: #000137;
    border-style: solid;
}

.CV{
    width: 100%;
    margin-left: 5vh;
}
