.header {
    color: white;
    background-color: #000137;
    text-align: center;
    padding: 5vh;
}

.main {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.PersonalForm {
    border-width: 1vh;
    border-color: #000137;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 8vh;
    margin-right: 10vh;
}
.personalHeader {
    text-align: center;
}

.dualForm{
    display: flex;
    gap: 1vh;
    border-color: #000137;
    border-width: 1vh;
    border-style: solid;
}

.CV{
    width: 100%;
    margin-left: 5vh;
}
